body {
    background-image: linear-gradient(to bottom, #222670, #484FF0);
    text-align: center;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 1.3em;
    
}

body, html{
    height: 100%;
}

input {
    background-color: white;
    font-size: 6vw;
    width: 12vw;
    height:12vw;
    margin: 0;
    color: white;
}

#jogador {
    display: inline;
}

#reiniciar {
    margin-top: 15%;
    width: 10vw;
    height:6vw;
    font-size: 1em;
    color: black;
}

#empate {
    width: 550px;
    height: 100px;
    background-color: #F08D60;
    color: white;
    border: 5px #000;
    position: absolute;
     top: 12%;
     left: 50%;
     transform: translate(-50%, -50%);
    display: none;
    text-transform: uppercase;
}

#vitoria {
    width: 550px;
    height: 100px;
    background-color: #69F030;
    color: white;
    border: 5px #000;
    position: absolute;
     top: 12%;
     left: 50%;
     transform: translate(-50%, -50%);
    display: none;
    text-transform: uppercase;
}

.placar {
    background-color: #745F8A;
    opacity: 0.9;
    height: 500px;
}

.placar button {
    margin-top: 90px;
}

body h1 {
    color: rgb(230, 228, 228);
    text-transform: uppercase;
}

